.cart{
    width: 300px;
    Height: 470px;
    border: 1px solid #95A0A7;
    border-radius: 5px;
    color: #0E161A;
    margin: 20px 0;
    position: relative;
    text-align: center;
    
}
.cart img{
    width: 286px;
    border-radius: 5px;
    margin: 5px;
}
.cart .btn{
    width: 300px;
    text-align: center;
    position: absolute;
    bottom: 0;
}
.cart .btn button{
    color: #000000;
    background-color: rgb(224, 221, 28);
    border-radius: 10px;
    border:none;
    padding: 10px 25px;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
}
.cart .btn button:hover{
    background-color: rgb(254, 255, 254);
    border: 2px solid black;
}
.cart .information{
    margin: 5px;
}
.cart p{
    color: #2A414F;
}