

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.shop_details{
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.products_design{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-column-gap: 20px;
  padding: 0 30px;
}

.cart_details{
  position: sticky;
  top: 0;
  width: 300px;
  background-color: aliceblue;
  text-align: center;
  border-radius: 10px;
  padding: 15px;
  z-index: 9999;
}
.btn_lucky{
  padding: 10px 10px;
  color: rgb(255, 255, 255);
  background-color: rgb(12, 11, 10);
  border:none;
  border-radius: 5px;
  font-weight: bold;
  margin-right: 10px;
  cursor: pointer;
}
.btn_rest{
  padding: 10px 10px;
  color: rgb(255, 255, 255);
  background-color: rgb(12, 11, 10);
  border:none;
  border-radius: 5px;
  font-weight: bold;
  margin-right: 10px;
  cursor: pointer;
}
.random{
  margin-top: 20px;
}
@media screen and (max-width:667px) {
  .products_design{
      grid-template-columns: repeat(1, 1fr);
      margin-left: 90px;
  }
  .shop_details{
    grid-template-columns: 1fr;
  }
  .cart_details{
    margin-left: 90px;
  }

}
